<div class="iconMeaning">
    <p>THE MEANING OF OUR ICONS</p>
    <div class="iconContent">
        <div class="icon">
            <img src="/assets/icons-assets/Spicy.svg" alt="">
            <span>Spicy</span>
        </div>
        <div class="icon">
            <img src="/assets/icons-assets/Vegan.svg" alt="">
            <span>Vegetarian</span>
        </div>
        <div class="icon">
            <img src="/assets/icons-assets/Vegitarian.svg" alt="">
            <span>Vegan</span>
        </div>

    </div>
</div>