* {
    font-family: 'Helvetica Neue';
}

p {
    margin-top: 4%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1.75px;
}

.iconMeaning {
    height: 265px;
    background-color: #FAFAFA;
}

p {
    padding-top: 50px;
}

.iconContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 300px;
}

.icon {
    display: flex;
    flex-direction: column;
    height: 100px;
    text-align: center;
    justify-content: space-around;
    font-weight: 600;
    letter-spacing: 1.75px;
}