<div class="aboutus">
    <div class="firstBox">
        <p>ABOUT US</p>
        <div class="aboutUsText">
            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. In a lacus vel justo fermentum bibendum
            non<br>eu ipsum. Cras porta malesuada eros, eget blandit <br>
            turpis suscipit at. Vestibulum sed massa in magna <br> sodales porta. Vivamus elit urna, <br>dignissim a
            vestibulum. <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. In a lacus vel justo fermentum bibendum
            no<br>eu ipsum. Cras porta malesuada eros. <br> <br> <br>
            <img src="\assets\aboutus-assets\appstore.svg" alt="">
            <img src="\assets\aboutus-assets\playstore.svg" alt="">
        </div>
        <div>
        </div>
    </div>
    <div class="secondBox">
        <img src="\assets\aboutus-assets\epiLogo.svg" alt="">
    </div>
</div>